.filterDropdownMenu.dropdown-menu.show{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    top: 20px !important;
}

.suggestion-list {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 1050;
    max-height: 240px;
    overflow-y: auto;
    background-color: #ffffffde;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
}

.suggestion-list li {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-list li:hover {
    background-color: #f5f5f5;
}
